<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <p style="color: white;">Europe Weather</p>
    </mat-toolbar>

    <mat-accordion class="app-nav-accordion">
      <mat-nav-list>
        <a mat-list-item (click)="change('Italy')">Italy
          <img style="margin-left: 40px;" alt="Itlay" width="30px"
            src="http://purecatamphetamine.github.io/country-flag-icons/3x2/IT.svg" /></a>
        <a mat-list-item (click)="change('Turkey')">Turkey<img style="margin-left: 23px;" alt="Itlay" width="30px"
            src="http://purecatamphetamine.github.io/country-flag-icons/3x2/TR.svg" /></a>
        <a mat-list-item (click)="change('Austria')">Austria
          <img style="margin-left: 19px;" alt="Itlay" width="30px"
            src="http://purecatamphetamine.github.io/country-flag-icons/3x2/AT.svg" />
        </a>
        <a mat-list-item (click)="change('Greece')">Greece
          <img style="margin-left: 20px;" alt="Itlay" width="30px"
            src="http://purecatamphetamine.github.io/country-flag-icons/3x2/GR.svg" />
        </a>
        <a mat-list-item (click)="change('Russia')">Russia
          <img style="margin-left: 20px;" alt="Itlay" width="30px"
            src="http://purecatamphetamine.github.io/country-flag-icons/3x2/RU.svg" />
        </a>

        <!-- <a mat-list-item  [routerLink]="['/university-college']" routerLinkActive="router-link-active">University</a> -->

      </mat-nav-list>

    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <app-language-control></app-language-control>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div *ngIf="arr.length>0">
      <app-home-weather [forecastArr]="forecastarr" [weatherData]="countryWeatherArr"></app-home-weather>
    </div>
    <!-- <router-outlet></router-outlet> -->

  </mat-sidenav-content>
</mat-sidenav-container>
